---
layout: section/img_left

images:
  section:
    alt: AppGain Mobile Development
    url: /assets/images/services/mob_dev.png
title: Mobile Apps Development
brief: >
  e-commerce, next snapchat ,mobile catalog for your store ?
   Our team will shape an app specific to your ideas

platforms:
  - type: ios
    subline: 'iOS App Development'
    logo_img: /assets/images/logo-ios.png
  - type: android
    subline: 'Android App Development'
    logo_img: /assets/images/logo-android.png
  - type: windows
    subline: 'Windows App Development'
    logo_img: /assets/images/logo-windows.png

CTA:
  style: complete
  btn_title: 'Get A Quote'
  link: /contact-us/
  # brief: >
  #   Two Call to action promoting<br>
  #   lines ... action (Get A Quote)


---

<div class="row">
  <div class="col-sm-10 col-sm-offset-1 text-center">
    <h1 class="m-t-5">{{page.title}}</h1>
    <p>{{page.brief}}</p>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="pull-left sm-pull-reset text-center m-t-5">
      {% for osItm in page.platforms %}
        <img class="inline v-align-top m-r-10" height="25" src="{%if site.baseurl%}{{site.baseurl}}{%endif%}{{osItm.logo_img}}" alt="{{osItm.subline}}">
      {% endfor %}
    </div>
  </div>
  <div class="col-md-6 text-right sm-text-center">
    <a href="{%if site.baseurl%}{{site.baseurl}}{%endif%}{{page.CTA.link|default:'#'}}" class="btn btn-{{page.CTA.style|default:'white'}} pull-right sm-pull-reset  m-l-20  sm-m-t-20">{{page.CTA.btn_title}}</a>
    {% if page.CTA.brief %}
    <p class="font-arial pull-right sm-pull-reset small hint-text sm-m-t-10 sm-no-padding">
      {{page.CTA.brief}}
    </p>
    {% endif %}
  </div>
</div>
