---
layout: section/img_right

in_portfolio: true
images:
  section:
    alt: Apps as a Service
    url: /assets/images/services/app_service.png
title: Apps as a Service
brief: >
  Looking for Mobile App with Limited Budget and in just 3 weeks time ?
   Now You can have your app for a monthly rent fee with no upfront investment .


CTA:
  # style: #options:  link, primary, success, complete, info, warning, danger, rounded default: white
  style: complete
  btn_title: 'Get A Quote'
  link: /contact-us/
  # brief: >
  #   Two Call to action promoting<br>
  #   lines ... action (Get A Quote)


---

<!-- <div class="row">
  <div class="col-sm-10 col-sm-offset-1 text-center">
    <h1 class="m-t-5">{{page.title}}</h1>
    <p>{{page.brief}}</p>
    <div class="row text-right sm-text-center">
      <a href="{%if site.baseurl%}{{site.baseurl}}{%endif%}{{page.CTA.link|default:'#'}}" class="btn btn-{{page.CTA.style|default:'white'}} pull-right sm-pull-reset  m-l-20  sm-m-t-20">{{page.CTA.btn_title}}</a>
      {% if page.CTA.brief %}
      <p class="font-arial pull-right sm-pull-reset small hint-text sm-m-t-10 sm-no-padding">
        {{page.CTA.brief}}
      </p>
      {% endif %}
  </div>
</div> -->

<div class="row text-center">
  <h1>{{page.title}}</h1>
  <p class="p-t-20 p-b-20">{{page.brief}}</p>
  <div class="row text-right sm-text-center">
    <a href="{{ site.baseurl}}{{page.CTA.link}}" class="btn btn-{{page.CTA.style|default:'white'}} pull-right sm-pull-reset  m-l-20  sm-m-t-20">{{page.CTA.btn_title}}</a>
    {% if page.CTA.brief %}
    <p class="font-arial pull-right sm-pull-reset small hint-text sm-m-t-10 sm-no-padding">
      {{page.CTA.brief}}
    </p>
    {% endif %}
  </div>
</div>
