---
layout: section/img_left
in_portfolio: true

images:
  section:
    alt: Mobile Marketing -- AppGain
    url: /assets/images/services/mobile_marketing.png
title: Mobile Marketing
brief: >
  Have an app and not able to reach your target customers?
   Your customers are not using your app so frequent ?
   Our mobile marketing service will boost your app usage and revenues.

CTA:
  style: complete
  btn_title: 'Get A Quote'
  link: /contact-us/
  # brief: >
  #   Two Call to action promoting<br>
  #   lines ... action (Get A Quote)


---

<div class="row">
  <div class="col-sm-10 col-sm-offset-1 text-center">
    <h1 class="m-t-5">{{page.title}}</h1>
    <p>{{page.brief}}</p>
  </div>
  <div class="col-md-12 text-right sm-text-center">
    <a href="{%if site.baseurl%}{{site.baseurl}}{%endif%}{{page.CTA.link|default:'#'}}" class="btn btn-{{page.CTA.style|default:'white'}} pull-right sm-pull-reset  m-l-20  sm-m-t-20">{{page.CTA.btn_title}}</a>
    {% if page.CTA.brief %}
    <p class="font-arial pull-right sm-pull-reset small hint-text sm-m-t-10 sm-no-padding">
      {{page.CTA.brief}}
    </p>
    {% endif %}
  </div>
</div>
