---
layout: section/img_right

images:
  section:
    alt: AppGain Web Development
    url: /assets/images/bg/web-tech.png
title: Web Development
brief: >
  Whether you need to build a custom web app from scratch, WordPress CMS or Static
   web site, or streamline existing front-end functionality, we can accomplish
    that in an efficient and cost-effective manner.

# highlights:
#   - title: Web <br/>Design
#     tagline: Front End <br/> Web Developemnt
#     # ps:
#     icon: ''
#
#   - title: Web <br/>Developemnt
#     tagline: Back End <br/> Web Developemnt
#     # ps:
#     icon: ''
#
#   - title: Web <br/>Hosting
#     tagline: CI/CD<br/>Web Hosting
#     # ps:
#     icon: ''

CTA:
  style: complete
  btn_title: 'Get A Quote'
  link: /contact-us/
  # brief: >
  #   Two Call to action promoting<br>
  #   lines ... action (Get A Quote)

---
<div class="row text-center">
  <h1>{{page.title}}</h1>
  <p class="p-t-20 p-b-20">{{page.brief}}</p>
  <div class="row text-right sm-text-center">
    <a href="{{ site.baseurl}}{{page.CTA.link}}" class="btn btn-{{page.CTA.style|default:'white'}} pull-right sm-pull-reset  m-l-20  sm-m-t-20">{{page.CTA.btn_title}}</a>
    {% if page.CTA.brief %}
    <p class="font-arial pull-right sm-pull-reset small hint-text sm-m-t-10 sm-no-padding">
      {{page.CTA.brief}}
    </p>
    {% endif %}
  </div>
  <br>
  <br>
  <div class="row">
    {% for hl in page.highlights %}
    <div class="col-sm-4 text-center sm-m-b-30 {%if forloop.last == false %}b-r{% endif %} b-grey sm-no-border">
      <h6 class="block-title m-b-5">{{hl.title}}</h6>
      <h6 class="no-margin p-t-10 p-b-5">{{hl.tagline}}</h6>
      {%if hl.ps %}<p class="fs-14 hint-text">{{hl.ps}}</p>{%endif%}
    </div>
    {% endfor %}
  </div>
</div>
