<!-- START FOOTER -->
<section class="p-b-30 p-t-40 bg-master-dark">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 text-white">
            <!-- <p class="fs-12 no-margin"></p> -->
            <img height="35" src="{%if site.baseurl%}{{site.baseurl}}{%endif%}/assets/images/appgain-logo.png" class="logo inline m-r-50" alt="">
            <p class="fs-11 fw-5 m-t-5 hint-text">Copyright &copy; 2016 AppGain. All Rights Reserved.</p>
            <div class="m-t-5">
              <ul class="no-style fs-12 no-padding no-margin font-arial ">
                <li class="inline no-padding"><a href="/contact-us/" class="text-white  link p-r-10">Contact Us</a></li>
                <li class="inline no-padding"><a href="http://appgain.io" class="text-white  link p-r-10">Appgain</a></li>
                <li class="inline no-padding"><a href="http://smartlink.appgain.io" class="text-white  link p-r-10">Smartlink</a></li>
                <li class="inline no-padding"><a href="http://ikhair.net" class="text-white  link p-r-10">iKhair</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 font-arial m-t-15 ">
            {% for addr in site.data.contact.contact_info %}
            <div class="col-sm-{{12|divided_by:forloop.length|ceil}} font-arial">
              <address>
                <strong>{{addr.title}}</strong><br>
                {%for st in addr.address %}
                  {{st}}<br/>
                {% endfor %}
                {%for pn in addr.phone %}
                  <abbr title="{{pn.type|capitalize}}"><i class="fa fa-{{pn.type}}"></i></abbr>&nbsp;{{pn.number}}
                {% endfor %}
              </address>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
{% comment %}
<footer class="p-t-25 p-b-25">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <img src="{%if site.baseurl%}{{site.baseurl}}{%endif%}/assets/images/appgain-logo.png" class="logo inline m-r-50" alt="">
        <div class="m-t-10 inline">
          <ul class="no-style fs-11 no-padding font-arial">
            <li class="inline no-padding"><a href="http://appgain.io" class=" text-master p-l-15 p-r-15 b-r b-grey">Appgain</a></li>
            <li class="inline no-padding"><a href="http://smartlink.appgain.io" class=" text-master p-l-15 p-r-15 b-r b-grey">Smartlink</a></li>
            <li class="inline no-padding"><a href="http://ikhair.net" class=" text-master p-l-15 p-r-15 b-r b-grey">iKhair</a></li>
            <!-- <li class="inline no-padding"><a href="#" class=" text-master p-l-15 p-r-15 ">Support</a></li> -->
          </ul>
        </div>
      </div>
      <div class="col-sm-4 text-right sm-text-left font-arial">
        <p class="fs-11 m-t-10">Copyright &copy; 2016 AppGain. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
{% endcomment %}
<!-- END FOOTER -->


<!-- BEGIN VENDOR JS -->
<script type="text/javascript" src="{%if site.baseurl%}{{site.baseurl}}{%endif%}/assets/plugins/pace/pace.min.js"></script>
<script type="text/javascript" src="{%if site.baseurl%}{{site.baseurl}}{%endif%}/assets/js/pages.image.loader.js"></script>
<script type="text/javascript" src="{%if site.baseurl%}{{site.baseurl}}{%endif%}/assets/plugins/jquery/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{%if site.baseurl%}{{site.baseurl}}{%endif%}/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{%if site.baseurl%}{{site.baseurl}}{%endif%}/assets/plugins/swiper/js/swiper.jquery.min.js"></script>
<script type="text/javascript" src="{%if site.baseurl%}{{site.baseurl}}{%endif%}/assets/plugins/velocity/velocity.min.js"></script>
<script type="text/javascript" src="{%if site.baseurl%}{{site.baseurl}}{%endif%}/assets/plugins/velocity/velocity.ui.js"></script>
<script type="text/javascript" src="{%if site.baseurl%}{{site.baseurl}}{%endif%}/assets/plugins/jquery-unveil/jquery.unveil.min.js"></script>
<script type="text/javascript" src="{%if site.baseurl%}{{site.baseurl}}{%endif%}/assets/plugins/jquery-appear/jquery.appear.js"></script>
<script type="text/javascript" src="{%if site.baseurl%}{{site.baseurl}}{%endif%}/assets/plugins/animateNumber/jquery.animateNumbers.js"></script>
<!-- END VENDOR JS -->
<!-- BEGIN PAGES FRONTEND LIB -->
<script type="text/javascript" src="{%if site.baseurl%}{{site.baseurl}}{%endif%}/assets/js/pages.frontend.js"></script>
<!-- END PAGES LIB -->
<!-- BEGIN YOUR CUSTOM JS -->
<script type="text/javascript" src="{%if site.baseurl%}{{site.baseurl}}{%endif%}/assets/js/custom.js"></script>
<!-- END PAGES LIB -->
<style media="screen">
  .bg-master-dark { background-color: #1C9FDA; color: white; }
  .fw-5 {font-weight: 500;}
</style>
