<!-- BEGIN PLUGINS -->
<link href="{%if site.baseurl%}{{site.baseurl}}{%endif%}/assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" />
<link href="{%if site.baseurl%}{{site.baseurl}}{%endif%}/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{%if site.baseurl%}{{site.baseurl}}{%endif%}/assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
<link href="{%if site.baseurl%}{{site.baseurl}}{%endif%}/assets/plugins/swiper/css/swiper.css" rel="stylesheet" type="text/css" media="screen" />
<!-- END PLUGINS -->
<!-- BEGIN PAGES CSS -->
<link class="main-stylesheet" href="{%if site.baseurl%}{{site.baseurl}}{%endif%}/assets/css/pages.css" rel="stylesheet" type="text/css" />
<link class="main-stylesheet" href="{%if site.baseurl%}{{site.baseurl}}{%endif%}/assets/css/pages-icons.css" rel="stylesheet" type="text/css" />
<!-- BEGIN PAGES CSS -->
<style media="screen">
  .cta-jobs a{
    background-color: #F0295D;
    padding: 2px 7px;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
  }
  .cta-jobs span {
    color: #F0295D;
    height: 10px;
    width: 10px;
    margin-left: -1.2em;
  }
</style>
